@charset "utf-8";
/* CSS Document */
.topnav {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(226, 66, 219, 1) 0%, rgba(108, 0, 255, 1) 100%);
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(120,73,231,1) 0%, rgba(0,228,255,1) 100%);
  color: black;
}


.topnav a.active {
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(120,73,231,1) 0%, rgba(0,228,255,1) 100%);
  color: #333;
}
.t1{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
